Repository sandialabs/Albany, pull requests merged in 2022-09, with the labels that each got.

#830 Fix creation of export_albany.in
  CMakeLists.txt
  PyAlbany/CMakeLists.txt
  PyAlbany/README.md
  PyAlbany/src/CMakeLists.txt
  cmake/CreateExportAlbany
  cmake/dummy/CMakeLists.txt
  cmake/dummy/main.cpp
  cmake/export_albany.in
  doc/LandIce/cori/do-cmake-albany-cori-gcc-knl-serial-sfad12
  doc/LandIce/cori/do-cmake-albany-cori-intel-hsw-serial-sfad12
  doc/LandIce/cori/do-cmake-albany-cori-intel-hsw-serial-sfad16
  doc/LandIce/cori/do-cmake-albany-cori-intel-knl-serial-sfad12
  doc/LandIce/cori/do-cmake-albany-cori-intel-knl-serial-sfad16
  doc/LandIce/perlmutter/do-cmake-albany-prml-cuda-gcc-sfad12
  doc/LandIce/perlmutter/do-cmake-albany-prml-cuda-gcc-sfad16
  doc/LandIce/perlmutter/do-cmake-albany-prml-gcc-sfad12
  doc/LandIce/perlmutter/do-cmake-albany-prml-gcc-sfad16
  doc/LandIce/updates-info/albany_cmake_options_log.txt
  doc/LandIce/updates-info/cmake_scripts/edison-albany-cmake-mperego
  doc/dashboards/camobap.ca.sandia.gov/ctest_nightly_albany.cmake
  doc/dashboards/camobap.ca.sandia.gov/ctest_nightly_albanyFPE.cmake
  doc/dashboards/camobap.ca.sandia.gov/ctest_nightly_albanyFPE_config.cmake
  doc/dashboards/camobap.ca.sandia.gov/ctest_nightly_albanyT.cmake
  doc/dashboards/camobap.ca.sandia.gov/do-cmake-fpe-check
  doc/dashboards/cee-compute011.sandia.gov/ctest_nightly_albanyFPE.cmake
  doc/dashboards/cee-compute011.sandia.gov/ctest_nightly_albanyFPE_config.cmake
  doc/dashboards/cori.nersc.gov/ctest_nightly_albany.cmake
  doc/dashboards/cori.nersc.gov/do-cmake-albany
  doc/dashboards/cori.nersc.gov/do-cmake-cori-albany
  doc/dashboards/mockba.ca.sandia.gov/ctest_nightly.cmake
  doc/dashboards/mockba.ca.sandia.gov/ctest_nightly_albany.cmake
  doc/dashboards/mockba.ca.sandia.gov/ctest_nightly_albany_no_epetra.cmake
  doc/summit/LandIce/do-cmake-albany-summit-cuda-gcc-slfad16
  doc/summit/LandIce/do-cmake-albany-summit-serial-gcc-slfad16
  src/CMakeLists.txt
  src/LandIce/CMakeLists.txt
  src/LandIce/interface_with_cism/CMakeLists.txt
  src/LandIce/interface_with_mpas/CMakeLists.txt
Labels: cmake

#831 Fix installed cmake config file
  src/AlbanyConfig.cmake.in
  src/CMakeLists.txt
Labels: cmake, bugfix

#836 Update paper examples
  PyAlbany/examples/UQ/MC_example.py
  PyAlbany/examples/extremeEvent/thermal_steady.py
  PyAlbany/examples/extremeEvent/thermal_steady_2.py
  PyAlbany/examples/large/LandIce/FO_GIS/reducedHessian.py
  PyAlbany/examples/paper/MC_example.py
  PyAlbany/examples/paper/MC_example_MPI.py
  PyAlbany/examples/paper/MPI_efficiency.py
  PyAlbany/examples/paper/forward.py
  PyAlbany/examples/paper/hyperparameter_tuning.py
  PyAlbany/examples/paper/inverse.py
  PyAlbany/examples/paper/lowrank.py
  PyAlbany/examples/performanceAnalysis/steadyHeat.py
  PyAlbany/examples/tutorial/example_1.py
  PyAlbany/examples/tutorial/example_2.py
  PyAlbany/examples/tutorial/example_3.py
  PyAlbany/python/ExtremeEvent.py
  PyAlbany/python/RandomizedCompression.py
  PyAlbany/python/Utils.py
  PyAlbany/src/Albany_Pybind11_Timer.cpp
  PyAlbany/src/Albany_Pybind11_Tpetra.cpp
  PyAlbany/tests/small/IO/io_PyAlbany.py
  PyAlbany/tests/small/RandCompress/steadyHeatHODLR.py
  PyAlbany/tests/small/RandCompress/steadyHeatRSVDdoublePassNonSymmetric.py
  PyAlbany/tests/small/RandCompress/steadyHeatRSVDdoublePassSymmetric.py
  PyAlbany/tests/small/RandCompress/steadyHeatRSVDsinglePass.py
  PyAlbany/tests/small/SteadyHeat/inv_steadyHeat.py
  PyAlbany/tests/small/SteadyHeat/multiple_runs_steadyHeat.py
  PyAlbany/tests/small/SteadyHeat/steadyHeat.py
  PyAlbany/tests/small/SteadyHeat/steadyHeat_orthog.py
  PyAlbany/tests/small/SteadyHeat/steadyHeat_stateMap.py
Labels: PyAlbany

#844 Fix creation of export_albany.in when CMAKE_GENERATOR=Ninja
  cmake/CreateExportAlbany
  src/CMakeLists.txt
Labels: developer usability, cmake
