Repository sandialabs/Albany, pull requests merged in 2023-05, with the labels that each got.

#945 Fix PyAlbany tests
  pyAlbany/src/Albany_Interface.cpp
  pyAlbany/src/Albany_Interface.hpp
  src/Albany_SolverFactory.cpp
  src/utility/Albany_ThyraUtils.cpp
Labels: bugfix, PyAlbany

#948 Solve PyAlbany adjoint solve and add a ctest test
  pyAlbany/src/Albany_Interface.cpp
  pyAlbany/src/Albany_Interface.hpp
  pyAlbany/tests/extremeEvent/.gitignore
  pyAlbany/tests/inputOutput/.gitignore
  pyAlbany/tests/randCompress/.gitignore
  pyAlbany/tests/randCompress/adjointSolve.py
  pyAlbany/tests/randCompress/inputT_MueLu.yaml
  pyAlbany/tests/steadyHeat/.gitignore
Labels: bugfix, PyAlbany

#950 Remove some unused stuff related to states
  src/Albany_Application.cpp
  src/Albany_DummyParameterAccessor.hpp
  src/Albany_ObserverImpl.cpp
  src/Albany_StateInfoStruct.hpp
  src/Albany_StateManager.cpp
  src/Albany_StateManager.hpp
  src/CMakeLists.txt
  src/PHAL_TypeKeyMap.hpp
  src/disc/Albany_AbstractDiscretization.hpp
  src/landIce/problems/LandIce_StokesFOBase.hpp
Labels: Code cleanup

#951 Change state arrays into DualDynRankView objects
  src/Albany_Application.cpp
  src/Albany_DualDynRankView.hpp
  src/Albany_DualView.hpp
  src/Albany_KokkosTypes.hpp
  src/Albany_ObserverImpl.cpp
  src/Albany_StateInfoStruct.cpp
  src/Albany_StateInfoStruct.hpp
  src/Albany_StateManager.cpp
  src/Albany_StateManager.hpp
  src/CMakeLists.txt
  src/disc/Adapt_NodalDataBase.cpp
  src/disc/Adapt_NodalDataBase.hpp
  src/disc/Adapt_NodalDataVector.cpp
  src/disc/Adapt_NodalDataVector.hpp
  src/disc/Albany_AbstractDiscretization.hpp
  src/disc/Albany_AbstractNodeFieldContainer.hpp
  src/disc/Albany_DOFManager.hpp
  src/disc/stk/Albany_STKDiscretization.cpp
  src/disc/stk/Albany_STKNodeFieldContainer.hpp
  src/disc/stk/Albany_STKNodeFieldContainer_Def.hpp
  src/evaluators/gather/PHAL_GatherCoordinateVector_Def.hpp
  src/evaluators/gather/PHAL_GatherSolution.hpp
  src/evaluators/scatter/PHAL_ScatterResidual.hpp
  src/evaluators/scatter/PHAL_ScatterSideEqnResidual_Def.hpp
  src/evaluators/scatter/PHAL_SeparableScatterScalarResponse_Def.hpp
  src/evaluators/state/PHAL_LoadStateField_Def.hpp
  src/evaluators/state/PHAL_SaveStateField_Def.hpp
  src/landIce/evaluators/LandIce_GatherVerticallyContractedSolution.hpp
  src/landIce/evaluators/LandIce_Time_Def.hpp
Labels: enhancement, STK, Code cleanup

#960 Download and build omegah at config time if not found
  CMakeLists.txt
  cmake/omegah/CMakeLists.txt
Labels: Omega_h
