Repository sandialabs/Albany, pull requests merged in 2023-10, with the labels that each got.

#997 Remove unused/unreachable code related to nodal fields/states
  src/Albany_StateInfoStruct.hpp
  src/Albany_StateManager.cpp
  src/Albany_StateManager.hpp
  src/CMakeLists.txt
  src/disc/Adapt_NodalDataBase.cpp
  src/disc/Adapt_NodalDataBase.hpp
  src/disc/Adapt_NodalDataVector.cpp
  src/disc/Adapt_NodalDataVector.hpp
  src/disc/Adapt_NodalFieldUtils.hpp
  src/disc/Albany_AbstractMeshStruct.hpp
  src/disc/Albany_AbstractNodeFieldContainer.hpp
  src/disc/omegah/Albany_OmegahDiscretization.hpp
  src/disc/stk/Albany_ExtrudedSTKMeshStruct.cpp
  src/disc/stk/Albany_GenericSTKFieldContainer.cpp
  src/disc/stk/Albany_GenericSTKMeshStruct.cpp
  src/disc/stk/Albany_STKDiscretization.cpp
  src/disc/stk/Albany_STKNodeFieldContainer_Def.hpp
  src/utility/Albany_Hessian.cpp
  tests/unit/Albany_UnitTestSetupHelpers.hpp
  tests/unit/CMakeLists.txt
  tests/unit/disc/omegah/CMakeLists.txt
Labels: Code cleanup

#996 FIx omegah tests
  src/disc/omegah/Albany_OmegahBoxMesh_Def.hpp
  src/disc/omegah/OmegahConnManager.cpp
  src/disc/omegah/OmegahConnManager.hpp
  tests/unit/disc/omegah/box_mesh.cpp
Labels: bugfix, Omega_h

#977 Omega_h Connectivity Manager: implement getOwnership and getConnectivityStart
  CODEOWNERS
  src/Main_Solve.cpp
  src/disc/Albany_ConnManager.hpp
  src/disc/omegah/OmegahConnManager.cpp
  src/disc/omegah/OmegahConnManager.hpp
  tests/unit/disc/omegah/OmegahConMgr.cpp
Labels: Omega_h
